[submodule "@junosuarez/rcbartender"]
	path = modules/@/junosuarez/rcbartender
	url = git@github.com:junosuarez/rcbartender.git
[submodule "@junosuarez/font"]
	path = modules/@/junosuarez/font
	url = git@github.com:junosuarez/font.git
