[submodule "@junosuarez/rcbartender"]
	path = modules/@/junosuarez/rcbartender
	url = git@github.com:junosuarez/rcbartender.git
[submodule "@junosuarez/font"]
	path = modules/@/junosuarez/font
	url = git@github.com:junosuarez/font.git
[submodule "@Hammerspoon/Spoons"]
	path = modules/@/Hammerspoon/Spoons
	url = git@github.com:Hammerspoon/Spoons.git
[submodule "@albertxing/sublime-hacklang"]
	path = modules/@/albertxing/sublime-hacklang
	url = git@github.com:albertxing/sublime-hacklang.git
